body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url("https://images.pexels.com/photos/355508/pexels-photo-355508.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1c");
  backdrop-filter: blur(10px);
  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

.weather-app {
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border-radius: 20px;
}

.data-list {
  margin: 0;
  padding: 0;
}

.data-list-item {
  list-style: none;
  text-transform: capitalize;
}

.d-flex {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.temperature {
  position: relative;
  top: 20px;
  font-size: 90px;
}

.units {
  position: relative;
  top: 50px;
}

.info {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
