.weather-app-wraper {
  max-width: 800px;
  margin: 60px auto;
  padding: 30px;
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(62, 55, 77, 0.08);
  background-image: url("images/background-image-01.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-temp {
  text-align: right;
}
